<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lt.edu.mapper.ChapterMapper">
    <select id="getAllChapter" resultType="com.lt.edu.entity.dto.course.VideoChapterDTO">
        select c.title title,v.video_source_id videoSourceId,v.video_original_name videoOriginalName,v.sort sort,v.is_free free from edu_video v,edu_chapter c where c.id = v.chapter_id and c.course_id = #{id} order by c.sort
    </select>

</mapper>
