<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lt.edu.mapper.SubjectMapper">
    <resultMap id="BaseMapper" type="com.lt.edu.entity.vo.subject.OneSubject">
        <result property="id" column="id"></result>
        <result property="title" column="title"></result>
        <collection property="children" ofType="com.lt.edu.entity.vo.subject.TwoSubject" column="id" select="getAllSubject"></collection>
    </resultMap>
    <select id="getAllSubject" resultMap="BaseMapper">
        select id,title from edu_subject where parent_id=#{id}
    </select>
</mapper>
