<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lt.blog.mapper.GroupBloggerMapper">
<!--    <select id="countArticle" resultType="int">-->
<!--        select count(1) from article where group_name = #{groupName}-->
<!--    </select>-->
</mapper>
